@inject SignInManager<Proiect_ipUser> SignInManager
@{
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.ViewMyOrders(ViewContext)" id="my-orders" asp-page="./MyOrders">Comenzile mele</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ViewMyRewards(ViewContext)" id="my-rewards" asp-page="./ViewRewards">Recompensele mele</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Ștergere cont</a></li>
</ul>
