@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Datele mele";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>
            <strong>Odată șterse, datele dvs. nu mai pot fi recuperate.</strong>
        </p>
        <div class="d-grid gap-2">
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-outline-danger">Ștergere cont</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
