@page
@model Proiect_ip.Areas.Identity.Pages.Account.Manage.ViewRewardsModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<Proiect_ipUser> UserManager

@{
    ViewData["Title"] = "Vezi recompense";
    Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3>Recompense</h3>
    </div>
    <div class="card-body">
        @if (Model.Message != null)
        {
            <p>@Model.Message</p>
        }
        else if (Model.Points >= 0)
        {
            <p>Ai <strong>@Model.Points</strong> puncte.</p>
        }
    </div>
</div>
