@page
@model Proiect_ip.Pages.Admin.Branduri.EditBranduriModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@{
    ViewData["Title"] = "Modificare brand";
}
<div class="container">
    <h2 class="text-center mb-5">Modificare brand</h2>
    <hr />
    <form method="post" enctype="multipart/form-data">

        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">ID</label>
            <div class="col-sm-8">
                <input class="form-control" value="@Model.BrandProdus.BrandId" readonly disabled>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Nume</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="BrandDto.Nume">
                <span asp-validation-for="BrandDto.Nume" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-outline-success">Salvează</button>
                <button type="button" class="btn btn-outline-danger" onclick="window.location.href='/Admin/Branduri/Overview'">Anulează</button>
            </div>
        </div>

    </form>
</div>