@page
@model Proiect_ip.Pages.DespreNoiModel
@{
    ViewData["Title"] = "Despre noi";
}

<h1>@ViewData["Title"]</h1>

<p>Proiect_ip este un magazin online dedicat oferirii de produse cosmetice de înaltă calitate, adaptate nevoilor diverse ale clienților noștri. Ne angajăm să oferim o experiență de cumpărături plăcută și sigură, cu un accent puternic pe satisfacția clientului și respectarea standardelor de calitate. Fiecare produs prezentat pe site-ul nostru este ales cu grijă, pentru a vă asigura că beneficiați de cele mai bune produse cosmetice disponibile pe piață.</p>
