@page
@using Microsoft.AspNetCore.Identity
@using Proiect_ip.Areas.Identity.Data
@inject UserManager<Proiect_ipUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
    var isClient = await UserManager.IsInRoleAsync(user, "Client");
}

@if (isAdmin)
{
    <p>Rol: Admin!</p>
}
else if (isClient)
{
    <p>Rol: Client!</p>
}
else
{
    <p>Rol necunoscut - eroare.</p>
}
