@using Microsoft.AspNetCore.Identity
@using Proiect_ip.Areas.Identity.Data
@inject UserManager<Proiect_ipUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var points = 0;

    if (user != null)
    {
        points = user.Puncte; 
    }
}
@if(user != null){
    <div>
        <a class="nav-link text-dark" href="/Identity/Account/Manage/ViewRewards">Puncte: @(points)</a>
    </div>
}

