@using Microsoft.AspNetCore.Identity
@using Proiect_ip.Areas.Identity.Data
@using Proiect_ip.Services.DataCache
@inject UserManager<Proiect_ipUser> UserManager
@inject PointsService PointsService

@{
    var user = await UserManager.GetUserAsync(User);
    var points = 0;

    if (user != null)
    {
        var userId = user.Id;
        points = await PointsService.GetPointsAsync(userId);
    }
}

@if (user != null)
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Identity/Account/Manage/ViewRewards">Puncte: @(points)</a>
        </li>
    </ul>
}
