@using Microsoft.AspNetCore.Identity
@using Proiect_ip.Areas.Identity.Data
@using Proiect_ip.Services
@inject UserManager<Proiect_ipUser> UserManager
@inject ShoppingCartService CartService

@{
    var user = await UserManager.GetUserAsync(User);
}

@if (user != null)
{
    var (suma, nrprod) = await CartService.GetCartDataAsync(user.Id);
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link text-dark" asp-page="/Cos" id="cartDropdown">Coș cumpărături</a>
            <ul class="dropdown-menu p-3" aria-labelledby="cartDropdown" id="cartInfo" style="display:none;">
                <li>
                    <p id="cartSum">Total: @suma RON</p>
                    <p id="cartCount">Produse: @nrprod</p>
                </li>
            </ul>
        </li>
    </ul>
}

<script>
   
    document.getElementById('cartDropdown').addEventListener('mouseover', function () {
        document.getElementById('cartInfo').style.display = 'block';
    });

    document.getElementById('cartDropdown').addEventListener('mouseout', function () {
        document.getElementById('cartInfo').style.display = 'none';
    });
</script>
