@page
@model LoginModel

@{
    ViewData["Title"] = "Conectare";
}
<div class="container-fluid mx-auto">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />
    <section>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nume@arccosmetics.ro" />
                <label asp-for="Input.Email" class="form-label">E-mail</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="parolă" />
                <label asp-for="Input.Password" class="form-label">Parolă</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <div class="d-grid gap-2">
                <button id="login-submit" type="submit" class="btn btn-outline-primary">Conectare</button>
            </div>
            <br />
            <div class="btn-group w-100" role="group">
                <a role="button" class="btn btn-outline-secondary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Creare cont nou</a>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
