@page
@model LogoutModel
@{
    ViewData["Title"] = "Deconectare";
}

<div class="container-fluid mx-auto">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-primary">Deconectare?</button>
                </div>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</div>
